 *{
     margin: 0;padding: 0;
     box-sizing: border-box;
     
     
 }
 header{
     width: 100%;
     height: 100vh;
     background-image: url(pg.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }
 .mainhead {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainhead .logo{
    width: 30px;
    height:30px;
    padding: 0px; 
    margin-right: 30px;
}
.logo{
    width: 20px;
    height: 20px;
}
li{ 
    margin-right: 10px;
    display: inline;
}
 .mainhead nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    

    
}
.mainhead button{
    padding: 10px 45px;
    text-align:center;
    font-size: 15px;
    color: #fff;
    border: none;
    background-color:cadetblue;
    border-radius: 10px;

}
.button{
    margin-right: 20px;
}
body{
    
}

.left{
    padding: 10px;
    margin: 10px;
}
.head{
    text-align:center;
}
.head2{
    text-align: center;
}
.para{
    text-align: center;
}
main{
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.btn {  
    margin-top: 59px;
    margin-left: 60px;
    background: linear-gradient(white,gray);
    color: black;
    border-radius: 50px;
}
.btn btn-primary{
    background-color: coral;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
